@using WebApplication1.Models.Entities
@model WebApplication1.Models.Entities.CodingTask

@{
    ViewData["Title"] = "Create";
    var languages = ViewBag.Languages as List<SelectListItem>;
    var templates = ViewBag.Templates as List<SelectListItem>;
    var classes = ViewBag.Classes as List<Class>;
}

<div class="create-form-container">
    <h4>CodingTask</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                
                <input type="hidden" asp-for="AuthorId" value="-1" />

                <div class="form-group">
                    <label asp-for="Language" class="control-label"></label>
                    <select asp-for="Language" class="form-control">
                        @if (languages != null)
                        {
                            foreach (var item in languages)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label class="control-label">Template</label>
                    <select name="template" class="form-control">
						<option value="">Language Default</option>
                        @if (templates != null)
                        {
                            foreach (var item in templates)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label class="control-label">Class</label>
                    <select name="classId" class="form-control">
                        <option value="">None</option>
                        @if (classes != null)
                        {
                            foreach (var item in classes)
                            {
                                <option value="@item.ClassId">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
