@model WebApplication1.Models.Entities.Class

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />

<!-- Header -->
<div class="institution-header">
    <img src="@(Model.ImageUrl ?? "https://placehold.co/280x180")" class="institution-image" alt="Institution Image" />
    <h2 class="institution-name">@Model.Name</h2>
</div>
<div class="spacer"></div>


<div class="admin-options">
    <a class="btn btn-primary" asp-action="GetCodingTasks" asp-route-classId="@Model.ClassId">Assigments</a>
    <!-- Admin Options -->
    @if (User.IsInRole("ADMIN"))
    {
        <a class="btn btn-success" asp-controller="Class" asp-action="CreateSection" asp-route-classId="@Model.ClassId">Add Section</a>
        <a class="btn btn-primary" asp-controller="Class" asp-action="GetUsersToAdd" asp-route-classId="@Model.ClassId">Add Participant</a>
    
    }
</div>



<!-- Class Sections -->
<div class="class-sections">
    @foreach (var item in Model.ClassSections.OrderBy(cs => cs.OrderIndex))
    {
        <a class="class-section-card" asp-action="GetSection" asp-route-id="@item.Id">
            <img src="@(item.PictureUrl ?? "https://placehold.co/280x180")" alt="Section Image" class="section-image" />
            <p>@item.Title</p>
        </a>
    }
</div>
