@model WebApplication1.Models.Entities.Class;

@*

*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<div class="institution-header">
    <img src="@(Model.ImageUrl ?? "https://placehold.co/280x180")" style="height: 100%;" />
    <h2>@Model.Name</h2>
</div>
<div style="height: 7rem;"></div>

<!-- Admin options -->
@if (User.IsInRole("ADMIN"))
{
    <div style="display: flex; flex-direction: row; gap: 5px !important;">
        <a class="btn btn-success mt-2" asp-controller="Class" asp-action="CreateSection" asp-route-classId="@Model.ClassId">Add Section</a>
        <a class="btn btn-primary mt-2" style="margin-left: auto;" asp-controller="Class" asp-action="GetUsersToAdd" asp-route-classId="@Model.ClassId">Add Participant</a>
    </div>
}

<div style="display: flex; flex-direction: column; gap: 15px; margin-top: 10px;">
    @foreach(var item in Model.ClassSections.OrderBy(cs => cs.OrderIndex)){
        <div class="class-section-card">
            <a asp-action="GetSection" asp-route-id="@item.Id" style="opacity: 0; position: absolute; width:inherit; height: inherit;"></a>
            <img src="@(item.PictureUrl ?? "https://placehold.co/280x180")" />
            <p>@item.Title</p>
        </div>
    }
</div>