@using WebApplication1.Models.DTOs
@using WebApplication1.Models.Entities
@model IEnumerable<InstitutionDTO>

@{
    ViewData["Title"] = "Institutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


	@if (ViewData["Error"] != null)
	{
		<div class="alert alert-danger">
			@ViewData["Error"]
		</div>
	}

	@if (ViewData["Success"] != null)
	{
		<div class="alert alert-success">
			@ViewData["Success"]
		</div>
	}



    @if (Model == null || !Model.Any())
    {
        <h3 class="mt-2">You haven't joined any institution yet...</h3>
    }
    else
    {
        <!-- Joined classes carousel -->
        <div class="joined-classes-container">
            @foreach (var item in Model)
            {
                <form asp-action="GetInstitution" method="get">
                    <div class="card" style="margin-bottom: 5px;">
                        @if (item.ImageUrl != null)
                        {
                            <img class="card-img-top" style="width: 280px !important; height: 180px !important;" src="@item.ImageUrl" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top" style="width: 280px !important; height: 180px !important;" src="https://placehold.co/280x180" alt="Card image cap">
                        }
                        <div class="card-body">
                            <h5 class="card-title mb-3">@item.Name</h5>
                            <p class="card-text mb-0">@item.Address</p>
                            <p class="card-text">@item.ContactEmail</p>
                        
                            
                        </div>


                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; border: none; padding: 0; margin: 0;"></button>

                    </div>
                </form>
            }
        </div>
    }

    
    <div style="display: flex; gap: 5px;">

        <a class="btn btn-primary" asp-action="Discover">Discover</a>

	    @if (User.IsInRole("ADMIN"))
	    {
            <a class="btn btn-success" asp-action="Create">Create</a>
	    }

        <a class="btn btn-primary" style="margin-left: auto;" asp-action="GetRequests">Manage Requests</a>
        
    </div>